@using CriThink.Common.Endpoints.DTOs.Admin;
@model DebunkingNewsGetAllResponse;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Debunking News";
}


@section hasSidebar 
{

<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light font-weight-bold">Debunking News</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Trigger log</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->

<div class="p-4 text-center m-4 w-100">
    <div id="toolbox" class="border p-2 mb-2">
        <a asp-area="BackOffice" asp-controller="DebunkingNews" asp-action="AddNewsView" type="button" class="btn btn-success"><i class="fas fa-plus"></i></a>
    </div>
    <table class="table mb-3" id="featureT">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
            </tr>
        </thead>
        @foreach(var debunkedNews in Model.DebunkingNewsCollection) 
        {
            <tr>
                <td>@debunkedNews.Title</td>
                <td>@debunkedNews.Publisher</td>
                <td style="width:6%">
                    <a type="button" data-toggle="dropdown">
                        <i class="fas fa-ellipsis-h"></i>
                    </a >
                    <div class="dropdown-menu">
                        <a id="mDelete" class="dropdown-item" data-toggle="modal" data-target="#modalDelete" data-title="@debunkedNews.Title" data-id="@debunkedNews.Id"><i class="fas fa-trash-alt mr-2"></i>Remove news</a>
                    </div>
                </td>
            </tr>
        }
    </table>

    <div id="message"></div>

    <!-- PageIndex nav -->
    <nav>
      <ul class="pagination justify-content-center">
        <li id="prevPage" class="page-item">
          <a class="page-link pointer" aria-label="Previous">
            <span>Previous</span>
          </a>
        </li>
        <li class="page-item active"><a id="currentPage" class="page-link"></a></li>
        <li class="page-item">
          <a id="nextPage" class="page-link pointer" aria-label="Next">
            <span>Next</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- PageIndex nav -->

    <!-- PageSize nav -->
    <small>User for page</small>
    <nav>
      <ul id="pageSizenav" class="pagination justify-content-center">
        <li class="page-item pointer"><a asp-route-PageSize="20" asp-route-PageIndex="1" class="page-link">20</a></li>
        <li class="page-item pointer"><a asp-route-PageSize="50" asp-route-PageIndex="1" class="page-link">50</a></li>
        <li class="page-item pointer"><a asp-route-PageSize="100" asp-route-PageIndex="1" class="page-link">100</a></li>
      </ul>
    </nav>
    <!-- PageSize nav -->

    <!-- Modal -->
    <!-- DELETE -->
    <div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Remove this news</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to delete the news with name <span class="font-weight-bold" id="nameNews"></span>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="sureDelete" type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /DELETE -->
    <!-- End Modal -->
    
    <!-- GetToken -->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
      @Html.AntiForgeryToken()
    }
    <!-- /GetToken -->

</div>

}

@section Scripts
{
    <script type="text/javascript">
        // Table features
        $(function(){
            $('#featureT').DataTable({
                paging: false,
                ordering: false,
                info: false
            });
        });
    </script>

    <script type="text/javascript">
        // Paging Functions
        $(function(){
            let pageSize = parseInt(GetParameterValues('PageSize'));
            let pageIndex = parseInt(GetParameterValues('PageIndex'));

            if(!pageSize || !pageIndex){
                pageSize = 20;
                pageIndex = 1;
            }

            let url = '@Url.Action("Index", "DebunkingNews")'.concat('?PageSize='+pageSize+'&PageIndex=');
            $('#nextPage').attr('href',url+(pageIndex+1));
            $('#prevPage').children().attr('href',url+(pageIndex-1));

            $('#currentPage').html(pageIndex);

            if (pageIndex == 1) {
                $('#prevPage').toggleClass('disabled');
            }

            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('='); 
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            };
        });

        { // Delete functions

        let newsId = '';

        $('#mDelete').click(function(){
            newsId = $(this).data('id');
            $('#nameNews').html($(this).data('title'));
        });

        $('#sureDelete').click(function(){
            let token = $('input[name="__RequestVerificationToken"]').val();
            $.post('@Url.RouteUrl("RemoveNewsAsync")', {Id:newsId, __RequestVerificationToken: token}, function(data){
                $('body').html(data);
                $('#message').addClass('alert alert-success').html('News removed!');
            })
            .fail(function(data){
                alert("Error");
            });
        });

        }

    </script>
}
