@using CriThink.Common.Endpoints.DTOs.Admin;
@using CriThink.Common.Endpoints;
@using CriThink.Server.Web.Areas.BackOffice.Controllers;
@model DebunkingNewsGetAllResponse;

@{
    Layout = "_LayoutPagination";
    ViewData["Title"] = "Debunking News";
}

@section sidebarLeft 
{
    <div class="list-group list-group-flush">
        <a asp-area="BackOffice" asp-controller="DebunkingNews" asp-action="Index" class="list-group-item list-group-item-action bg-light font-weight-bold">Debunking News</a>
        <a asp-area="BackOffice" asp-controller="TriggerLog" asp-action="Index" class="list-group-item list-group-item-action bg-light">Trigger log</a>
    </div>
}

@section sidebarRight 
{
    <div id="toolbox" class="border p-2 mb-2">
        <a asp-area="BackOffice" asp-controller="DebunkingNews" asp-action="AddNewsView" type="button" class="btn btn-success"><i class="fas fa-plus"></i></a>
        <a class="mDelete d-none btn btn-danger" type="button" data-toggle="modal" data-target="#modalDelete"><i class="fas fa-trash-alt"></i></a>
    </div>
    <table class="table mb-3" id="featureT">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Options</th>
            </tr>
        </thead>
        @foreach (var debunkedNews in Model.DebunkingNewsCollection)
        {
            <tr data-title="@debunkedNews.Title" data-id="@debunkedNews.Id">
                <td>@debunkedNews.Title</td>
                <td>@debunkedNews.Publisher</td>
                <td style="width:6%">
                    <a class="dropdown-item" asp-route-id="@debunkedNews.Id" asp-action="@nameof(DebunkingNewsController.UpdateDebunkingNewsAsync).Replace("Async", string.Empty)"><i class="fas fa-pen mr-2"></i>Edit news</a>
                </td>
            </tr>
        }
    </table>

}
<div id="messageWrapper" class="d-flex justify-content-center">
    <div id="message" class="mt-2" style="position:absolute; z-index:999; text-align: center; width:200px"></div>
</div>

<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove this news</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete <span class="font-weight-bold newsCounter"></span> news?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="sureDelete" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit news: <span class="font-weight-bold newsName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Title</span>
                    </div>
                    <input type="text" id="iTitle" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Caption</span>
                    </div>
                    <input type="text" id="iCaption" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Link</span>
                    </div>
                    <input type="text" id="iLink" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Keywords</span>
                    </div>
                    <input type="text" id="iKeywords" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="sureEdit" type="button" class="btn btn-warning">Edit</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div id="hasNextPage" class="d-none">@Model.HasNextPage</div>


@section Scripts
{
    <script type="text/javascript">
        const REMOVE_NEWS_FLAG = '?message=removedNews'
        const REMOVE_NEWS_FAILED_FLAG = '?message=failedRemoveNews'

        let newsIds = [];

        $(function () {

            $('#featureT').DataTable({
                paging: false,
                ordering: false,
                info: false
            });

            if(window.location.search === REMOVE_NEWS_FLAG){
                $('#message').addClass('alert alert-success').html('News removed!');
                setTimeout(function(){ $('#message').removeClass('alert alert-success').html('') }, 3000);
            }

            if(window.location.search === REMOVE_NEWS_FAILED_FLAG){
                $('#message').addClass('alert alert-danger').html('Error to remove news!');
                setTimeout(function(){ $('#message').removeClass('alert alert-danger').html('') }, 3000);
            }

            $('#featureT tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
                if(!newsIds.includes($(this).data('id'))){
                    newsIds.push($(this).data('id'));
                }else{
                    newsIds = newsIds.filter((news) => news !== $(this).data('id'));
                }

                // Show remove btn if one news is selected
                if(newsIds.length > 0){
                    $('.mDelete').removeClass('d-none')
                }else{
                    $('.mDelete').addClass('d-none')
                }
            });
        });
        
        $('.mDelete').click(function(){
            $('.newsCounter').html(newsIds.length);
        });

        $('#sureDelete').click(async function(){
            let token = $('input[name="__RequestVerificationToken"]').val();
            let flagRemovedNews = []
            
            for(news of newsIds){
                try{
                    await $.post('@($"{@EndpointConstants.DebunkNewsBase}{EndpointConstants.DebunkingNewsRemoveNews}")', {Id:news, __RequestVerificationToken: token}, function(data){
                        flagRemovedNews.push(true)
                    })
                }catch{
                    flagRemovedNews.push(false)
                }   
            }

            if(flagRemovedNews.every((flag) => flag)){
                window.location.search = REMOVE_NEWS_FLAG
            }else{
                window.location.search = REMOVE_NEWS_FAILED_FLAG
            }
        });
    </script>
}
