@model CriThink.Server.Web.Areas.Publics.ViewModel.Identity.ResetPasswordViewModel
@{
    ViewData["Title"] = "Change password";
}

<style>
    .crithink-logo {
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
</style>

<div class="bg-white p-4 shadow">
    <div class="p-3">
        <img src="/logo.svg" width="200" alt="Crithink Logo" class="crithink-logo">
        <h5 class="text-center">Enter a new password</h5>
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Enter password" })
            </div>
            <div class="input-group ">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
            </div>

            @Html.ValidationSummary(null, new { @class = "text-danger" })

            <input type="hidden" asp-for="@Model.UserId" />
            <input type="hidden" asp-for="@Model.Code" />

            <input type="submit" value="Update password" class="btn btn-primary btn-block" />

            @section validationScripts {
                <script type="text/javascript">
                    @*
                        TODO: Client side validation for password.
                    *@
                </script>
            }
        }
    </div>
</div>
