@using CriThink.Server.Web.Areas.BackOffice.ViewModels.NewsSource;
@using CriThink.Common.Endpoints
@model IndexViewModel;

@{
    Layout = "_LayoutPagination";
    ViewData["Title"] = "News Source";
}

@section sidebarLeft
{
    <div class="list-group list-group-flush">
        <a asp-action="Index" class="list-group-item list-group-item-action bg-light font-weight-bold">News Source</a>
        <a asp-action="GetUnknownNewsSources" class="list-group-item list-group-item-action bg-light">Unknown Source</a>
        <a asp-action="GetNotificationRequests" class="list-group-item list-group-item-action bg-light">User Notifications</a>
    </div>
}

@section sidebarRight
{
    <div id="toolbox" class="border p-2 mb-2">
            <a asp-area="BackOffice" asp-controller="NewsSource" asp-action="AddSource" type="button" class="btn btn-success"><i class="fas fa-plus"></i></a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Uri</th>
                    <th>Classification</th>
                    <th>Options</th>
                </tr>
            </thead>
            @foreach (var news in Model.NewsSources)
            {
                <tr>
                    <td>@news.Uri</td>
                    <td>@news.Classification</td>
                    <td style="width:8%">
                        <div class="btn-group">
                            <a asp-area="BackOffice" asp-controller="NewsSource" asp-action="Edit" asp-route-newsSourceLink="@news.Uri"><button class="btn btn-outline-warning"><i class="fas fa-pen"></i></button></a>
                            <button class="btn btn-outline-danger mDelete" data-toggle="modal" data-target="#modalDelete" data-uri="@news.Uri" data-classification="@news.Classification"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </table>
}    

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove this source</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete the source <span class="font-weight-bold nameSource"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="sureDelete" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="hasNextPage" class="d-none">@Model.HasNextPage</div>

@section Scripts
{
    <script type="text/javascript">
        {

            let sourceUri = '';

            $('.mDelete').click(function(){
                sourceUri = $(this).data('uri');
                $('.nameSource').html(sourceUri);
            });

            $('#sureDelete').click(function(){
                let token = $('input[name="__RequestVerificationToken"]').val();
                let endpoint = '';

                endpoint = '@($"{@EndpointConstants.NewsSourceBase}{EndpointConstants.NewsSourceRemoveNewsSource}")';

                $.ajax({
                    url: endpoint,
                    method: 'DELETE',
                    data: {
                        Uri: "http://" + sourceUri,
                        __RequestVerificationToken: token
                    }
                })
                .done(function(){
                    location.reload();
                })
                .fail(function(){
                    $('#message').addClass('alert alert-danger').html('Error!');
                });
            });

        }
    </script>
}
