@using CriThink.Server.Web.Areas.BackOffice.ViewModels.NewsSource;
@using CriThink.Common.Endpoints
@model IndexViewModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "News Source";
}

<div class="p-4 text-center m-4 w-100">
    <div id="toolbox" class="border p-2 mb-2">
        <a asp-area="BackOffice" asp-controller="NewsSource" asp-action="AddSource" type="button" class="btn btn-success"><i class="fas fa-plus"></i></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Uri</th>
                <th>Classification</th>
                <th>Options</th>
            </tr>
        </thead>
        @foreach (var news in Model.NewsSources)
        {
            <tr>
                <td>@news.Uri</td>
                <td>@news.Classification</td>
                <td style="width:8%">
                    <div class="btn-group">
                        <a asp-area="BackOffice" asp-controller="NewsSource" asp-action="Edit" asp-route-newsSourceLink="@news.Uri" ><button class="btn btn-outline-warning"><i class="fas fa-pen"></i></button></a>
                        <button class="btn btn-outline-danger mDelete" data-toggle="modal" data-target="#modalDelete" data-uri="@news.Uri" data-classification="@news.Classification"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
      @Html.AntiForgeryToken()
    }

    <nav>
        <ul class="pagination justify-content-center">
            <li id="prevPage" class="page-item">
                <a class="page-link pointer" aria-label="Previous">
                    <span>Previous</span>
                </a>
            </li>
            <li class="page-item active"><a id="currentPage" class="page-link"></a></li>
            <li class="page-item">
                <a id="nextPage" class="page-link pointer" aria-label="Next">
                    <span>Next</span>
                </a>
            </li>
        </ul>
    </nav>

    <small>News for page</small>
    <nav>
        <ul id="pageSizenav" class="pagination justify-content-center">
            <li class="page-item pointer"><a asp-route-PageSize="20" asp-route-PageIndex="1" class="page-link">20</a></li>
            <li class="page-item pointer"><a asp-route-PageSize="50" asp-route-PageIndex="1" class="page-link">50</a></li>
            <li class="page-item pointer"><a asp-route-PageSize="100" asp-route-PageIndex="1" class="page-link">100</a></li>
        </ul>
    </nav>

    <div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Remove this source</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to delete the source <span class="font-weight-bold nameSource"></span>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="sureDelete" type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        $(function(){
            let pageSize = parseInt(GetParameterValues('PageSize'));
            let pageIndex = parseInt(GetParameterValues('PageIndex'));

            if(!pageSize || !pageIndex){
                pageSize = 20;
                pageIndex = 1;
            }

            let url = '@Url.Action("Index", "NewsSource")'.concat('?PageSize='+pageSize+'&PageIndex=');
            $('#nextPage').attr('href',url+(pageIndex+1));
            $('#prevPage').children().attr('href',url+(pageIndex-1));

            $('#currentPage').html(pageIndex);

            if (pageIndex == 1) {
                $('#prevPage').toggleClass('disabled');
            }

            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            };
        });

        {

        let sourceUri = '';

        $('.mDelete').click(function(){
            sourceUri = $(this).data('uri');
            $('.nameSource').html(sourceUri);
        });

        $('#sureDelete').click(function(){
            let token = $('input[name="__RequestVerificationToken"]').val();
            let endpoint = '';

            if ($(this).data('classification') == "Reliable" || "Satirical"){
                endpoint = '@($"{@EndpointConstants.NewsSourceBase}{EndpointConstants.NewsSourceRemoveWhiteNewsSource}")';
            }
            else {
                endpoint = '@($"{@EndpointConstants.NewsSourceBase}{EndpointConstants.NewsSourceRemoveBlackNewsSource}")';
            }

            $.ajax({
                url: endpoint,
                method: 'DELETE',
                data: {
                    Uri: "http://" + sourceUri,
                    __RequestVerificationToken: token
                }
            })
            .done(function(){
                location.reload();
            })
            .fail(function(){
                $('#message').addClass('alert alert-danger').html('Error!');
            });
        });

        }
    </script>
}
