@using CriThink.Common.Endpoints.DTOs.Admin;
@model NotificationRequestGetAllResponse

@{
    Layout = "_LayoutPagination";
    ViewData["Title"] = "User Notifications";
}

@section sidebarLeft
{
    <div class="list-group list-group-flush">
        <a asp-action="Index" class="list-group-item list-group-item-action bg-light">News Source</a>
        <a asp-action="GetUnknownNewsSources" class="list-group-item list-group-item-action bg-light">Unknown Source</a>
        <a asp-action="GetNotificationRequests" class="list-group-item list-group-item-action bg-light font-weight-bold">User Notifications</a>
    </div>
}

@section sidebarRight
{
    <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Link</th>
                    <th>Requested At</th>
                    <th>Count</th>
                </tr>
            </thead>
            @foreach (var userNotify in Model.NotificationCollection)
            {
                <tr>
                    <td>@userNotify.Email</td>
                    <td>@userNotify.RequestedLink</td>
                    <td>@userNotify.RequestedAt</td>
                    <td>@userNotify.RequestCount</td>
                </tr>
            }
    </table>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div id="hasNextPage" class="d-none">@Model.HasNextPage</div>  