@model CriThink.Common.Endpoints.DTOs.Admin.UnknownNewsSourceGetAllResponse;

@{
    Layout = "_LayoutPagination";
    ViewData["Title"] = "Unknown Source";
}

@section sidebarLeft
{
    <div class="list-group list-group-flush">
        <a asp-action="Index" class="list-group-item list-group-item-action bg-light ">News Source</a>
        <a asp-action="GetUnknownNewsSources" class="list-group-item list-group-item-action bg-light font-weight-bold">Unknown Source</a>
        <a asp-action="GetNotificationRequests" class="list-group-item list-group-item-action bg-light">User Notifications</a>
    </div>
}

@section sidebarRight
{
    <table class="table" id="featureT">
            <thead>
                <tr>
                    <th>Uri</th>
                    <th>Request Count</th>
                    <th>Requested At</th>
                    <th>Authenticity</th>
                    <th>Edit</th>
                </tr>
            </thead>
            @foreach (var uNews in Model.UnknownNewsSourceCollection)
            {
                <tr>
                    <td>@uNews.Uri</td>
                    <td>@uNews.RequestCount</td>
                    <td>@uNews.RequestedAt</td>
                    <td>@uNews.Authenticity</td>
                    <td style="width:8%">
                        <div>
                            <a asp-area="BackOffice" asp-controller="NewsSource" asp-action="Identify" asp-route-id="@uNews.Id"><button class="btn btn-warning"><i class="fas fa-pen"></i></button></a>
                        </div>
                    </td>
                </tr>
            }
    </table>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div id="hasNextPage" class="d-none">@Model.HasNextPage</div>

@section Scripts
{
    <script text="text/javascript">

        $(function(){

            $('#featureT').DataTable({
                paging: false,
                ordering: false,
                info: false,
                responsive: true
            });

        }); 

    </script>
}
