@using CriThink.Server.Application.Administration.ViewModels;
@model TriggerLogsGetAllViewModel;

@{
    Layout = "_LayoutPagination";
    ViewData["Title"] = "Trigger Log";
}

@section sidebarLeft
{
    <div class="list-group list-group-flush">
        <a asp-area="BackOffice" asp-controller="DebunkingNews" asp-action="Index" class="list-group-item list-group-item-action bg-light">Debunking News</a>
        <a asp-area="BackOffice" asp-controller="TriggerLog" asp-action="Index" class="list-group-item list-group-item-action bg-light font-weight-bold">Trigger log</a>
    </div>
}

@section sidebarRight
{
    <table class="table mb-3" id="featureT">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Id</th>
                <th>Status</th>
                <th>Failures</th>
            </tr>
        </thead>
        @foreach (var log in Model.LogsCollection)
        {
            <tr>
                <td>@log.TimeStamp</td>
                <td>@log.Id</td>
                <td>@log.Status</td>
                <td>@log.Failures</td>
            </tr>
        }
    </table>
}

<div id="hasNextPage" class="d-none">@Model.HasNextPage</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#featureT').DataTable({
                paging: false,
                info: false,
                order: [[0, 'desc']]
            });
        });
    </script>
}
