@using Microsoft.AspNetCore.Hosting;
@inject IAppVersionService AppService
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CriThink</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              crossorigin="anonymous">
        <link type="text/css" rel="stylesheet"
              href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
    </environment>

    @{
        if (Context.Request.Cookies["isDarkMode"] == "true")
        {
            <environment include="Development">
                <link rel="stylesheet" href="~/css/darkmode.css" />
            </environment>

            <environment exclude="Development">
                <link rel="stylesheet" href="~/bundles/darkmode.min.css" />
            </environment>
        }
    }

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="~/bundles/site.min.css" />
</head>

<body>
    <header>
        <partial name="_LayoutNavbar" />
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="d-flex" id="wrapper">
        @if (IsSectionDefined("sidebarLeft"))
        {
            <div class="bg-light border-right" id="sidebar-wrapper">
                @RenderSection("sidebarLeft", required: false)
            </div>
        }
        <div class="p-4 text-center m-4 w-100">
            @RenderSection("sidebarRight", required: false)
            @RenderSection("pagination", required: false)
        </div>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            @AppService.CurrentEnvironment - @AppService.Version - @AppService.Copyright
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    </environment>


    @{
        var darkModeEnv = "";

        if (AppService.CurrentEnvironment == "Development")
        {
            darkModeEnv = "/css/darkmode.css";
        }
        else
        {
            darkModeEnv = "/bundles/darkmode.min.css";
        }
    }

    <script type="text/javascript">

        var CookieDate = new Date;
        Cook    ieDate.setFullYear(CookieDate.getFullYear() + 1);

        $('#dark      ModeSwitch').on('click', () => {
        if ($('#darkModeSwitch').prop('checked')) {
        $('head').append($('<link rel="stylesheet" type="text/css" />').attr('href', '@darkModeEnv'));
        document.cookie = 'isDarkMode=true;expires=' + CookieDate.toUTCString() + ';';
        }
        else {
        $("LINK[href*='@darkModeEnv']").remove();
        document.cookie = 'isDarkMode=false;expires=';
        }
        })

    </script>


    @await RenderSectionAsync("paginationScript", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
